<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>计算属性</title>
    <!--引入Vue-->
    <script type="text/javascript" src="../vue.js"></script>
    <style>
        
    </style>
</head>

<body>
<!--
定义：要用的属性不存在，要通过已有属性计算得来。
原理：底层借助了Objcet.defineproperty方法提供的getter和setter。

get函数什么时候执行？
(1).初次读取时会执行一次。
(2).当依赖的数据发生改变时会被再次调用。
优势：与methods实现相比，内部有缓存机制（复用），效率更高，调试方便。

备注:
计算属性最终会出现在vm上，直接读取使用即可，就是不需要在data中配置，但用法可以和data中的属性一样。
如果计算属性要被修改，那必须写set函数去响应修改，且set中要引起计算时依赖的数据发生改变。


-->
    <!--准备好一个容器-->
    <div id="root">
     姓:<input type="text" v-model="firstName">   <br/>
     名:<input type="text" v-model="lastName">   <br/>
     全名:<span>{{fullName}}</span> <br/>
    </div>
</body>
 
<script type="text/javascript">
    const vm = new Vue({
	el:'#root',
	data:{
		firstName:'张',
		lastName:'三',
	},
	computed:{
		//完整写法
		/* fullName:{
			get(){
				console.log('get被调用了')
				return this.firstName + '-' + this.lastName
			},
			set(value){
				console.log('set',value)
				const arr = value.split('-')
				this.firstName = arr[0]
				this.lastName = arr[1]
			}
		} */
		//简写
		fullName(){
			console.log('get被调用了')
			return this.firstName + '-' + this.lastName
		}
	}
})

</script>
</html>
